.container {
  display: flex;
}

.file-container {
  width: 60%;
  padding: 20px;
}

.checkbox-container {
  width: 40%;
  overflow-y: auto;
  max-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.checkbox-label {
  display: block;
  margin-bottom: 10px;
}
